<div class="row">

  <div class="col-md-7">
    <img src="img/001.jpg" width="100%"/>
    <br/><br/>
    <a href="#/view2"><img src="img/002.jpg" width="22%"/></a>&nbsp;&nbsp;&nbsp;
    <a href="#/view3"><img src="img/003.jpg" width="22%"/></a>&nbsp;&nbsp;&nbsp;
    <a href="#/view4"><img src="img/004.jpg" width="22%"/></a>&nbsp;&nbsp;&nbsp;
    <a href="#/view5"><img src="img/006.jpg" width="22%"/></a>
  </div>


  <!-- <div id="carousel-example-generic" class="carousel slide col-md-7" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="item active">
        <img src="img/010.jpg" alt="First slide"></img>
        <div class="carousel-caption">
          Image 010
        </div>
      </div>
      <div class="item">
        <img src="img/011.jpg" alt="Second slide"></img>
        <div class="carousel-caption">
          Image 011
        </div>
      </div>
      <div class="item">
        <img src="img/013.jpg" alt="Third slide"></img>
        <div class="carousel-caption">
          Image 012
        </div>
      </div>

    </div>

  </div> -->




  <div class="col-md-5">
    <h4>This is the partial for view 1.</h4>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ante ipsum, ornare at porttitor eu, venenatis at quam. Sed at semper libero. Vivamus id rutrum ante. Donec id molestie quam. Suspendisse volutpat dignissim velit, eu laoreet purus auctor quis. Donec sit amet enim a tortor pellentesque dictum vitae ac magna. Phasellus nisl dolor, imperdiet ac pulvinar ac, adipiscing eu neque. Fusce a commodo lorem, et hendrerit enim. In hac habitasse platea dictumst.

Sed odio sem, varius nec arcu nec, laoreet aliquet nisi. Sed faucibus, erat vel ultricies vehicula, mauris tellus scelerisque lorem, ut placerat sapien lacus sed lectus. Integer et diam lobortis, placerat massa id, venenatis ligula mauris tellus scelerisque lorem, ut placerat sapien lacus sed lectus. Integer et diam lobortis, placerat massa id, venenatis ligula mauris tellus scelerisque lorem, ut placerat sapien lacus sed lectus. Integer et diam lobortis, placerat massa id, venenatis ligula mauris tellus scelerisque lorem, ut placerat sapien lacus sed lectus. Integer et diam lobortis, placerat massa id, venenatis ligula. </p>
  </div>
</div>
